* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,227,98,1) 0%, rgba(0,212,255,1) 100%);
}

h1 {
  margin-bottom: 10px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 44px;
}

label {
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}

.textarea_container label {
  display: block;
}

input[type="text"] {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  font-weight: 600;
  font-size: 16px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  height: 60px;
  width: 400px;
  padding: 6px;
  border-radius: 3px;
  background-color: inherit;
  color: white;
  border: 2px solid white;
}
input[type="text"]:focus,
textarea:focus, 
button:focus{
  outline: none;
}
button {
  width: 300px;
  height: 50px;
  padding: 4px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background-color: violet;
  color: white;
  transition: background-color .4s ease;
}
button:hover {
  background-color: darkviolet;
}

#search_form {
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
}
#panel_title {
  text-align: center;
}

.field_area{
  margin-bottom: 10px;
}
.section_title {
  text-align: center;
  margin-bottom: 6px;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 28px;
}
