* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
}

h2 {
  margin-bottom: 10px;
}

label {
  font-size: 14px;
}

input[type="text"] {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  font-weight: 600;
  font-size: 16px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  height: 60px;
  width: 200px;
  padding: 6px;
  border-radius: 3px;
}
input[type="text"]:focus,
textarea:focus, 
button:focus{
  outline: none;
}
button {
  width: 100%;
  padding: 4px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background-color: violet;
  color: white;
  transition: background-color .4s ease;
}
button:hover{
  background-color: darkviolet;
}

#panel_title {
  text-align: center;
}

.field_area{
  margin-bottom: 10px;
}
.section_title {
  text-align: center;
  margin-bottom: 6px;
}
